#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.head-content{
  justify-content: flex-end;
  display: flex;
  width: 100%;
  gap: 15px;
}

.main-content{
  justify-content: space-between;
  display: flex;
  place-items: center;
}

#name{
  font-size: 2.5rem;
  font-weight: bolder;
}

#role{
  font-size: 2rem;
  font-weight: lighter;
}
#location{
  font-size: 0.9rem;
  font-weight: lighter;
}

.main-image{
  place-items: center;
}

